# Python cache files
__pycache__/
*.py[cod]

# IDE settings
.vscode/
.idea/

# Virtual environment
venv/
env/
.env

# Build directories
build/
dist/
*.spec

# ignore temporary readme files
*/readme.txt 

# ignore contents of data folders
src/data/*

# but keep the folders
!src/data/.gitkeep